$modal: coral;

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@mixin flexo($fd:row, $jc:center, $ai:center) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
}

a, a:visited, a:link, a:hover, a:active {
  text-decoration: none;
}